.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-box {
  margin-top: -35%;
  padding: 15px;
  width: 40vw;
  z-index: 100;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert-box p {
  font-size: 18px;
  margin-bottom: 25px;
}
