.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: dodgerblue;
    text-shadow: 0 0 2px grey;
}

.nav.navbar-nav .navLink.selected {
    font-weight: bold;
    color: black;
}

.dataManage a {
    cursor: pointer;
}