<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a class="navLink" routerLinkActive="selected" routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li>
          <a
            class="navLink"
            routerLink="/shopping-list"
            routerLinkActive="selected"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" role="presentation" appDropdownToggle>
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="caret"></span> Manage
          </a>
          <ul class="dropdown-menu dataManage">
            <li><a>Save Data</a></li>
            <li><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
