<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            [(ngModel)]="ingName"
            type="text"
            name="name"
            id="name"
            class="form-control"
            autocomplete="off"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input
            [(ngModel)]="ingQuantity"
            type="number"
            min="1"
            id="quantity"
            name="quantity"
            class="form-control"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="buttons-group">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!validateAdd()"
              (click)="onAddIngredient()"
            >
              Add
            </button>
            <button
              class="btn btn-danger"
              type="button"
              [disabled]="disabledDelete"
              (click)="onDeleteIngredient()"
            >
              Delete
            </button>
            <button
              class="btn btn-primary"
              type="button"
              [disabled]="!validateClear()"
              (click)="clearInputs()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
